@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* shared styles */
.dark-2 {
    color: rgb(71, 71, 71);

}
.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    border: none;
    
}

.header {
    background-image: url(../portfolio/images/developer.png) url(../portfolio/images/header_bg.png);
}
/* nav styles  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}


.nav-title { 
          font-family: Open Sans;
          font-weight: 800;
          font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px ;

}

nav li a {
    text-decoration: none;
    font-size: 20px;
    
}

/* banner styles */
.banner-greetings {
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
}
.banner-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
}
.banner-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;

}