@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* shared styles */
.dark-2 {
    color: rgb(71, 71, 71);

}
.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    border: none;
    
}
.secondary-bg{
    background: rgb(255, 248, 243);
}
.header {
    background-image: url('../portfolio/images/developer.png'), url('../portfolio/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    


}
/* nav styles  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}


.nav-title { 
          font-family: Open Sans;
          font-weight: 800;
          font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px ;

}

nav li a {
    text-decoration: none;
    font-size: 20px;
    
}

/* banner styles */
.content-banner{
    width: 500px;
    height: auto;
    margin: 0px 35px 0px 200px;

    
}
.banner {
    display: flex;
    justify-content: space-between;


}
.banner-greetings {
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
}
.banner-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
}
.banner-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;

}
.banner-image {
    width: 530px;
    

}
/* about me style */
main {
    max-width: 1140px;
    margin: 0 auto;

}

.about-me {
    border-radius: 10px;
    margin-top: 130px;
    text-align: center;
    padding: 135px 150px;
    
    
}
 
.description-me {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.about-items {
    display: flex;
    justify-content: space-around;
}
.item-title{

}
.item-description {
    font-weight: bolder;

}